<%- include('partials/header') -%>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="h1 display-4"><%= quiz.title %></h2>
    <p class="lead"><%= quiz.description %></p>
    <p class="font-weight-bold">par <%= quiz.author.fullname %></p>
    <p class="lead"><%= quiz.questions.length %> questions</p>
</div>

<div class="row">

    <% for (let tag of quiz.tags) { %>
    <div class="col-3 p-4 text-center">
        <a class="btn btn-block btn-lg tag tag--<%= tag.name.toLowerCase() %>" href="/quizzes/tag/<%= tag.id %>">
            <%= tag.name %>
        </a>
    </div>
    <% } %>

</div>

<div class="row">

    <% let i = 0 %>
    <% let score = 0 %>
    <% for(let question of quiz.questions) { %>
    <div class="col-12">
        <label class="badge level level--<%= question.level.name.toLowerCase() %>"><%= question.level.name %></label>
        <h4>
            <%= question.question %>
        </h4>
        <ul>
            <% for(let index in question.answers){ %>
                 <% if (Number(question.answers[index].id) === answers[i]) { %>
                    <% if (answers[i] === goodAnswers[i]) { %>
                        <% score++ %>
                        <li style="background-color: green;"><%= parseInt(index) + 1 %>. <%= question.answers[index].description %></li>
                    <% } else if (answers[i] !== goodAnswers[i]) { %>
                        <li style="background-color: red;"><%= parseInt(index) + 1 %>. <%= question.answers[index].description %></li>
                    <% } %>
                <% } else if (Number(question.answers[index].id) != answers[i]) { %>
                    <li><%= parseInt(index) + 1 %>. <%= question.answers[index].description %></li>
                <% } %>
            <% } %>
        <% i++ %>
        </ul>
    </div>
    
    
    <% } %>
    
</div>
<h2> Votre Score: <%= score %></h2>

<%- include('partials/footer') -%>